<article class="rounded-lg shadow-sm w-96 bg-white overflow-hidden">
    <a [href]="'/blog/'+blog.attributes.slug">
    <div class="flex w-full object-fill h-40 overflow-hidden">
        <img [src]="blog.attributes.imagen" class="w-full h-auto" alt="" />
    </div>
    <div class="p-4">
        <div class="mb-3">
            <h4 class="text-xl font-bold">{{blog.attributes.nombre}}</h4>
            <small>keywords</small>
        </div>
        <!-- <p class="text-sm">
            
        </p> -->
    </div>
</a>
</article>
