<main class="">
    <section class="container mx-auto">
        <div class="w-full flex justify-center">
            <div class="w-fit overflow-hidden rounded-md">
                <img src="http://localhost:1337/uploads/quienes_son_y_que_reciben_los_herederos_forzosos_o_legitimos_7881162967.jpeg" class="w-full h-auto">
            </div>
        </div>
        <div class="my-5">
            <h1 class="font-bold text-4xl">{{blog.attributes.nombre}}</h1>
        </div>
        <div class="block">
            <p class="text-xl">
                {{blog.attributes.description}}
            </p>
        </div>
    </section>
</main>